.Screen {
  width: 30.5vw;
  height: 43vh;
  background-color: #2776ea;
  position: relative;
  left: 35rem;
  margin-top: 5rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.resetbtn {
  position: relative;
  left: 12.8rem;
  top: 2rem;
  color: #fff;
}

.inner_screen {
  height: 15vh;
  margin-top: 1rem;
  position: relative;
  top: 2.5rem;
}

.big_text {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: #fff;
  text-align: end;
}

.small_text {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-right: 1.64rem;
  color: #c2c1c1;
  text-align: end;
}

@media screen and (min-width: 300px) {
  .Screen {
    width: 78vw;
    height: 43vh;
    background-color: #2776ea;
    position: relative;
    left: 2.5rem;
    margin-top: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .resetbtn {
    position: relative;
    left: 2rem;
    top: 1rem;
    color: #fff;
  }
}

@media screen and (min-width: 600px) {
  .Screen {
    width: 30.5vw;
    height: 43vh;
    background-color: #2776ea;
    position: relative;
    left: 35rem;
    margin-top: 5rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }
}
